.header-menu {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        @include md {
        background-color: rgba($color-gray-dark, 0.2);
        
                @include box-shadow;

        }

        
      
        &__container {
                
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                
                @extend %container;

            }
    }
        


    


   